#Game {
	max-width: 500px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
    background-color: grey;
}

#GameHead{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgb(167, 165, 165);
    justify-content: center;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

#GameBoardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

