#GameKeyBoardContainer {
	display: flex;
	flex-direction: column;
	margin: 4px 8px;
}

.KeyBoardRow {
	display: flex;
	width: 100%;
	margin: 0 auto 10px;
	touch-action: manipulation;
	height: 100%;
	user-select: none;
}
.KeyBoardKeys,
.KeyBoardHalfSpaces,
.KeyBoardOneAndHalfSpaces {
	user-select: none;
	display: flex;
	width: 100%;
	touch-action: manipulation;
	flex: 1;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border-color: transparent;
	margin: 0 3px;
	cursor: pointer;
	/* border-color: transparent; */
}
.KeyBoardHalfSpaces {
	flex: 0.5;
}
.KeyBoardOneAndHalfSpaces {
	flex: 1.5;
}
.KeyBoardKeys,
.KeyBoardOneAndHalfSpaces {
	background-color: #818384;
	color: rgb(232, 234, 235);
	font-weight: bold;
}
.KeyBoardKeys {
	transition-delay: 500ms;
	transition-duration: 250ms;
}
.KeyBoardKeys.absent {
	background-color: #3a3a3c;
	/* border-color:  #3a3a3c; */
}
.KeyBoardKeys.present {
	background-color: #b9a33e;
}
.KeyBoardKeys.correct {
	background-color: #538d4e;
}
